@import "tailwindcss";
@font-face {
  font-family: 'Orbitron';
  src: url('/Orbitron-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@theme {
  --font-orbitron: 'Orbitron', sans-serif;
}